## 제너레이터 표현식
튜플, 배열 등을 초기화 할 때 지능형 리스트를 쓸 수도 있지만 다른 생성자에 전달할 리스트를 통쨰로 만드는 것 대신 반복자 프로토콜을 이용해서 항목을 하나씩 생성하는 제너레이터 표현식을 사용할 수도 있다. 이는 메모리를 더 적게 사용한다.

In [2]:
symbols = "!@#$%^&*()"
tuple(ord(symbol) for symbol in symbols)

(33, 64, 35, 36, 37, 94, 38, 42, 40, 41)

In [6]:
import array
array.array("I", (ord(symbol) for symbol in symbols))

array('I', [33, 64, 35, 36, 37, 94, 38, 42, 40, 41])

제너레이터 표현식은 한 번에 한 항목을 생성할 수 있도록 for 루프에 데이터를 전달하기 때문에 리스트를 생성하며 모두 저장하는 것보다 메모리를 절약할 수 있다

In [7]:
colors = ['Black', 'White']
sizes = ['S', 'M', 'L']
for tshirt in (f'{c} {s}' for c in colors
                          for s in sizes):
    print(tshirt)

Black S
Black M
Black L
White S
White M
White L

## 튜플은 단순한 불변 리스트가 아니다
필드명이 없는 레코드로도 사용할 수 있다.

### 레코드로서의 튜플
항목 수가 고정되어 있고 각 순서가 중요한 데이터를 사용할 때 쓰인다. 당연히 정렬하면 데이터가 파괴되기 때문에 주의.

In [14]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids): # 데이터 손실
    print('%s / %s' % passport)

BRA / CE342567
ESP / XDA205856
USA / 31195855

In [12]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

### 튜플 언패킹
반복형 언패킹(iterabl unpacking, 요즘 자주 불림)이라고도 불린다. **병렬 할당**할 때 가장 눈에 띈다.

In [17]:
lax_coordinates = (33.9425, -118.408056)
latitude, longitude = lax_coordinates # 튜플 언패킹
print(latitude)
print(longitude)

33.9425
-118.408056

튜플 언패킹을 통해 스왑을 쉽게 할 수 있다.

In [25]:
a, b = 10, 20
print('before (a, b) = ', a, b)
a, b = b, a
print('after (a, b) = ', a, b)

before (a, b) =  10 20
after (a, b) =  20 10

*을 통해서 언패킹 시킬 수 있다.

In [24]:
print(divmod(20, 8))
print(divmod(*(20, 8)))

(2, 4)
(2, 4)

In [29]:
import os 
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub') # 언패킹으로 이렇게 파일이름을 뺄수도 있음
filename

'idrsa.pub'

초과된 인수를 언패킹하기 위해 *를 사용

In [31]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [34]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [35]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

*는 단 하나의 변수에만 적용가능. 하지만 다른 위치에서도 적용 가능

In [36]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [37]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

In [46]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

## namedtuple
레코드로 쓰기 위해 무언가 부족하다. 이름!그래서 namedtuple이 있다.

In [47]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [48]:
tokyo.population

36.933

In [49]:
tokyo.coordinates

(35.689722, 139.691667)

In [50]:
tokyo[1]

'JP'

### _field, _make(iterable), _asdict()

In [56]:
City._fields

('name', 'country', 'population', 'coordinates')

In [72]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ("Delhi NCR", "IN", 21.935, LatLong(28.613889, 77.20889))
delhi_data

('Delhi NCR', 'IN', 21.935, LatLong(lat=28.613889, long=77.20889))

In [73]:
delhi = City._make(delhi_data)
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=LatLong(lat=28.613889, long=77.20889))

In [74]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.20889))])

In [71]:
for key, value in delhi._asdict().items():
    print(key + ":", value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.20889)